/TPI/Exercicio6/nbproject/private/
/TPI/Exercicio1/build/
/TPI/Exercicio6/build/
/TPI/Exercicio7/nbproject/private/
/TPI/Exercicio7/build/
/TPI/Exercicio8/nbproject/private/
/TPI/Exercicio8/build/
/TPI/aula_01.2/Exercicio8/nbproject/private/
/TPI/aula_01.2/Exercicio8/build/
/TPI/aula_01.2/Exercicio2.2/nbproject/private/
/TPI/aula_01.2/Exercicio2.3/nbproject/private/
/TPI/aula_01.3/Exercicio9/nbproject/private/
/TPI/aula_01.3/Exercicio3.1/nbproject/private/
/TPI/aula_01.3/Exercicio3.1/build/
/TPI/aula_01.3/Exercicio10/nbproject/private/
/TPI/aula_01.3/Exercicio3.2/nbproject/private/
/TPI/aula_01.3/Exercicio3.2/build/
/TPI/aula_01.3/Exercicio11/nbproject/private/
/TPI/aula_01.3/Exercicio3.3/nbproject/private/
/TPI/aula_01.3/Exercicio3.3/build/
/TPI/aula_01.3/Exercicio12/nbproject/private/
/TPI/aula_01.3/Exercicio3.4/nbproject/private/
/TPI/aula_01.3/Exercicio3.4/build/
/TPI/aula_01.5/Exercicio13/nbproject/private/
/TPI/aula_01.5/Exercicio13/build/
/TPI/aula_01.5/Exercicio13/dist/
/TPI/aula_01.5/Exercicio14/nbproject/private/
/TPI/aula_01.5/Exercicio14/build/
/TPI/aula_01.5/Exercicio15/nbproject/private/
/TPI/aula_01.5/Exercicio5.3/nbproject/private/
/TPI/aula_01.5/Exercicio5.1/nbproject/private/
/TPI/aula_01.5/Exercicio5.2/nbproject/private/
/TPI/aula_01.5/Exercicio5.3/build/
/TPI/aula_01.5/Exercicio16/nbproject/private/
/TPI/aula_01.5/Exercicio5.4/nbproject/private/
/TPI/Aula/Dia_20-08-2024/OO_inicio/nbproject/private/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O/nbproject/private/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O/build/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O1/nbproject/private/
/TPI/aula_02.1/Exercicio17/nbproject/private/
/TPI/aula_02.1/Exercicio6.1/nbproject/private/
/TPI/aula_02.1/ExercicioPro01/nbproject/private/
/TPI/aula_02.1/ExercicioPOO2/nbproject/private/
/TPI/aula_02.1/ExercicioPOO3/nbproject/private/
/TPI/aula_02.1/ExercicioPOO3/build/
/TPI/aula_02.1/ExercicioPOO1/nbproject/private/
/TPI/aula_02.1/ExercicioP004/nbproject/private/
/TPI/aula_02.1/ExercicioP004/build/
/TPI/aula_02.2/ExercicioPOO1/nbproject/private/
/TPI/aula_02.1/ExercicioPOO4/nbproject/private/
/TPI/aula_02.2/ExercicioPOO1/build/
/TPI/aula_02.2/ExercicioPOO2/nbproject/private/
/TPI/aula_02.2/ExercicioPOO2/build/
/TPI/aula_02.2/ExercicioPOO3/nbproject/private/
/TPI/aula_02.2/ExercicioPOO3/build/
/TPI/aula_02.2/ExercicioPOO4/nbproject/private/
/TPI/aula_02.2/ExercicioPOO4/build/
/TPI/Aula/Dia_03_09_2024_IF/JavaExemploif/nbproject/private/
/TPI/Aula/Dia_03_09_2024_IF/ProjetoExemploif/nbproject/private/
/TPI/Aula/Dia_03_09_2024_IF/ProjetoExemploif/build/
/TPI/aula_02.4/Categoria_Cliente/nbproject/private/
/TPI/aula_02.4/ExercicioIF01/nbproject/private/
/TPI/aula_02.4/ExercicioIF01/build/
/TPI/aula_02.4/ExercicioIF02/nbproject/private/
/TPI/aula_02.4/ExercicioIF02/build/
/TPI/aula_02.4/ExercicioIF03/nbproject/private/
/TPI/aula_02.4/ExercicioIF03/build/
/TPI/aula_02.4/ExercicioIF03/dist/
/TPI/aula_02.4/ExercicioIF04/nbproject/private/
/TPI/aula_02.4/ExercicioIF04/build/
/TPI/aula_02.2/ExercicioIF05/nbproject/private/
/TPI/aula_02.2/ExercicioIF05/build/
/TPI/Aula/Dia_10_09_2024/ProjetoMenu/nbproject/private/
/TPI/Aula/Dia_10_09_2024/ProjetoMenu/build/
/TPI/aula_04/ExercicioMenu01/nbproject/private/
/TPI/aula_04/ExercicioMenu01/build/
/TPI/aula_04/ExercicioMenu02/nbproject/private/
/TPI/aula_04/ExercicioMenu02/build/
/TPI/aula_04/ExercicioMenu03/nbproject/private/
/TPI/aula_04/ExercicioMenu03/build/
/TPI/aula_02.2/ExercicioMenu04/nbproject/private/
/TPI/aula_02.2/ExercicioMenu04/build/
/TPI/aula_04/projetoConexaoED/nbproject/private/
/TPI/projetoConexaoBD/nbproject/private/
/TPI/projetoConexaoBD/build/
/TPI/aula_04/ExercicioMenu05/nbproject/private/
/TPI/aula_04/ExercicioMenu05/build/
/TPI/Aula/Dia_17_09_2024/projetoConexaoBD/nbproject/private/
/TPI/aula_05/ExercicioJBD01/nbproject/private/
/TPI/Aula/Dia_17_09_2024/projetoConexaoBD/build/
/TPI/aula_05/ExercicioJBD01/build/
/TPI/aula_05/ExercicioJBD02/nbproject/private/
/TPI/aula_05/ExercicioJBD02/build/
/TPI/aula_05/ExercicioJBD03/nbproject/private/
/TPI/aula_05/ExercicioJBD03/build/
/TPI/Aula/Dia_01_10_2024/projetoCrud/nbproject/private/
/TPI/Aula/Dia_01_10_2024/projetoCrud/build/
/TPI/aula_07/ExercicioCrud01/nbproject/private/
/TPI/aula_07/ExercicioCrud01/build/
/TPI/Pizza/nbproject/private/
/TPI/Pizza/build/
/TPI/aula_07/ExercicioCrud1/nbproject/private/
/TPI/luiz/SLIDE7_LUIZ/exercicioCrud02/build/
/TPI/CalculoAreaTriangulo/nbproject/private/
/TPI/CalculoAreaTriangulo/build/
/TPI/aula_09/ExercicioCrud_01_Clinica/nbproject/private/
/TPI/aula_09/ExercicioCrud_01_Clinica/build/
/TPI/ExercicioCrud_Filmes/nbproject/private/
/TPI/ExercicioCrud_Filmes/build/
/TPI/aula_09/ExercicioCrud_01_Clinica/dist/