/TPI/Exercicio6/nbproject/private/
/TPI/Exercicio1/build/
/TPI/Exercicio6/build/
/TPI/Exercicio7/nbproject/private/
/TPI/Exercicio7/build/
/TPI/Exercicio8/nbproject/private/
/TPI/Exercicio8/build/
/TPI/aula_01.2/Exercicio8/nbproject/private/
/TPI/aula_01.2/Exercicio8/build/
/TPI/aula_01.2/Exercicio2.2/nbproject/private/
/TPI/aula_01.2/Exercicio2.3/nbproject/private/
/TPI/aula_01.3/Exercicio9/nbproject/private/
/TPI/aula_01.3/Exercicio3.1/nbproject/private/
/TPI/aula_01.3/Exercicio3.1/build/
/TPI/aula_01.3/Exercicio10/nbproject/private/
/TPI/aula_01.3/Exercicio3.2/nbproject/private/
/TPI/aula_01.3/Exercicio3.2/build/
/TPI/aula_01.3/Exercicio11/nbproject/private/
/TPI/aula_01.3/Exercicio3.3/nbproject/private/
/TPI/aula_01.3/Exercicio3.3/build/
/TPI/aula_01.3/Exercicio12/nbproject/private/
/TPI/aula_01.3/Exercicio3.4/nbproject/private/
/TPI/aula_01.3/Exercicio3.4/build/
/TPI/aula_01.5/Exercicio13/nbproject/private/
/TPI/aula_01.5/Exercicio13/build/
/TPI/aula_01.5/Exercicio13/dist/
/TPI/aula_01.5/Exercicio14/nbproject/private/
/TPI/aula_01.5/Exercicio14/build/
/TPI/aula_01.5/Exercicio15/nbproject/private/
/TPI/aula_01.5/Exercicio5.3/nbproject/private/
/TPI/aula_01.5/Exercicio5.1/nbproject/private/
/TPI/aula_01.5/Exercicio5.2/nbproject/private/
/TPI/aula_01.5/Exercicio5.3/build/
/TPI/aula_01.5/Exercicio16/nbproject/private/
/TPI/aula_01.5/Exercicio5.4/nbproject/private/
/TPI/Aula/Dia_20-08-2024/OO_inicio/nbproject/private/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O/nbproject/private/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O/build/
/TPI/Aula/Dia_20-08-2024/ProjetoO_O1/nbproject/private/
/TPI/aula_02.1/Exercicio17/nbproject/private/
/TPI/aula_02.1/Exercicio6.1/nbproject/private/
/TPI/aula_02.1/ExercicioPro01/nbproject/private/
/TPI/aula_02.1/ExercicioPOO2/nbproject/private/
/TPI/aula_02.1/ExercicioPOO3/nbproject/private/
/TPI/aula_02.1/ExercicioPOO3/build/
/TPI/aula_02.1/ExercicioPOO1/nbproject/private/
/TPI/aula_02.1/ExercicioP004/nbproject/private/
/TPI/aula_02.1/ExercicioP004/build/
/TPI/aula_02.2/ExercicioPOO1/nbproject/private/
/TPI/aula_02.1/ExercicioPOO4/nbproject/private/
/TPI/aula_02.2/ExercicioPOO1/build/
/TPI/aula_02.2/ExercicioPOO2/nbproject/private/
/TPI/aula_02.2/ExercicioPOO2/build/
/TPI/aula_02.2/ExercicioPOO3/nbproject/private/
/TPI/aula_02.2/ExercicioPOO3/build/
/TPI/aula_02.2/ExercicioPOO4/nbproject/private/
/TPI/aula_02.2/ExercicioPOO4/build/